html {
  font-size: 10px;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color:#f9dd13;
  display:flex;
  min-height: 100vh;
  align-items: center;

  background-image:
  radial-gradient(circle at 100% 150%, #f9dd13 24%, #f9c713 25%, #f9c713 28%, #f9dd13 29%, #f9dd13 36%, #f9c713 36%, #f9c713 40%, transparent 40%, transparent),
  radial-gradient(circle at 0    150%, #f9dd13 24%, #f9c713 25%, #f9c713 28%, #f9dd13 29%, #f9dd13 36%, #f9c713 36%, #f9c713 40%, transparent 40%, transparent),
  radial-gradient(circle at 50%  100%, #f9c713 10%, #f9dd13 11%, #f9dd13 23%, #f9c713 24%, #f9c713 30%, #f9dd13 31%, #f9dd13 43%, #f9c713 44%, #f9c713 50%, #f9dd13 51%, #f9dd13 63%, #f9c713 64%, #f9c713 71%, transparent 71%, transparent),
  radial-gradient(circle at 100% 50%, #f9c713 5%, #f9dd13 6%, #f9dd13 15%, #f9c713 16%, #f9c713 20%, #f9dd13 21%, #f9dd13 30%, #f9c713 31%, #f9c713 35%, #f9dd13 36%, #f9dd13 45%, #f9c713 46%, #f9c713 49%, transparent 50%, transparent),
  radial-gradient(circle at 0    50%, #f9c713 5%, #f9dd13 6%, #f9dd13 15%, #f9c713 16%, #f9c713 20%, #f9dd13 21%, #f9dd13 30%, #f9c713 31%, #f9c713 35%, #f9dd13 36%, #f9dd13 45%, #f9c713 46%, #f9c713 49%, transparent 50%, transparent);
  background-size:100px 50px;
}


.voiceinator {
  padding:2rem;
  width:50rem;
  margin:0 auto;
  border-radius:1rem;
  position: relative;
  background:white;
  overflow: hidden;
  z-index: 1;
  box-shadow:0 0 5px 5px rgba(0,0,0,0.1);
}

h1 {
  width:calc(100% + 4rem);
  margin: -2rem 0 2rem -2rem;
  padding:.5rem;
  background: #0052ff;
  border-bottom: 5px solid #2410f3;
  text-align: center;
  font-size: 5rem;
  font-weight: 100;
  font-family: 'Pacifico', cursive;
  text-shadow:3px 3px 0 #2410f3;
  color: #f5e802;
}

.voiceinator input,
.voiceinator button,
.voiceinator select,
.voiceinator textarea {
  width: 100%;
  display: block;
  margin:10px 0;
  padding:10px;
  border:0;
  font-size: 2rem;
  background:#F7F7F7;
  outline:0;
}

textarea {
  height: 20rem;
}

input[type="select"] {

}

.voiceinator button {
  background:0052ff;
  border:0;
  width: 49%;
  float:left;
  font-family: 'Pacifico', cursive;
  margin-bottom: 0;
  font-size: 2rem;
  border-bottom: 5px solid #2410f3;
  cursor:pointer;
  position: relative;
}

.voiceinator button:active {
  top:2px;
}

.voiceinator button:nth-of-type(1) {
  margin-right: 2%;
}
